<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Lista użytkowników</title>
</head>
<body>
<div class="container">
    <h1>Lista użytkowników</h1>
<table class="table_users">
    <thead>
        <tr>
            <th>Imie</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${allUsers}">
            <td th:text="${user.id}"></td>
            <td th:text="${user.name}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </tbody>
    <h2>Dodaj użytkownika</h2>
    <form action="users" method="post">
        <label for="name">Imię </label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email </label>
        <input type="text" id="email" name="email" required>
        <br>
        <button tyle="submit">Dodaj użytkownika</button>
    </form>

</table>
</div>
</body>
</html>